<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="./css/home.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">

        <link href="/css/bootstrap-grid.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="./css/home.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/jquery-1.11.0.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
        <!-- script src="/js/homepage.js"></script> -->
        </meta>
    </head>
    <body style="margin: 0;">
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="nav-item-logo">
                    <a href="/home"><img src="images/logo.png" alt="logo" id="home-logo"></a>
                </li>
                <li class="nav-item">
                    <a href="/home"><h5>photosign</h5></a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/accountPage">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <input id="anPageName" name="page" type="hidden" value="homepage"/>
        <div class="homepage">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="maincard3">
                    <div class="card">
                        <div class="image">
                            <div class="mask">
                            </div>
                            <img anima-src="./images/home-page-mountain.png" class="mountain" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="nathanpark">
                        <div class="nathanpark2 w-100">
                            Nathan Park
                        </div>
                        <div class="nathanpark1">
                            <img anima-src="./images/home-page-nathan-park-1@2x.png" class="nathanpark3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="maincard2">
                    <div class="card">
                        <div class="image">
                            <div class="mask">
                            </div>
                            <img anima-src="./images/home-page-japancool.png" class="japancool" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="joannekim">
                        <div class="joannekim2 w-100">
                            Joanne Kim
                        </div>
                        <div class="joannekim1">
                            <img anima-src="./images/home-page-joanne-kim@2x.png" class="joannekim3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="maincard1">
                    <div class="card">
                        <div class="image">
                            <div class="mask">
                            </div>
                            <img anima-src="./images/home-page-nice.png" class="nice" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="jackiehoang">
                        <div class="jackiehoang2 w-100">
                            Jackie Hoang
                        </div>
                        <div class="jackiehoang1">
                            <img anima-src="./images/home-page-jackie-hoang@2x.png" class="jackiehoang3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="modelsnearyou">
                    <div class="jackiehoang">
                        <div class="jackiehoang2 w-100">
                            Jackie Hoang
                        </div>
                        <div class="jackiehoang1">
                            <img anima-src="./images/home-page-jackie-hoang-1@2x.png" class="jackiehoang3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="line">
                    </div>
                    <div class="joannekim">
                        <div class="joannekim2 w-100">
                            Joanne Kim
                        </div>
                        <div class="joannekim1">
                            <img anima-src="./images/home-page-joanne-kim@2x.png" class="joannekim3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="line1">
                    </div>
                    <div class="amylu">
                        <div class="amylu2">
                            <img anima-src="./images/home-page-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="amylu1 w-100">
                            Amy Lu
                        </div>
                    </div>
                    <div class="line2">
                    </div>
                    <div class="winniezheng">
                        <div class="winniezheng1 w-100">
                            Winnie Zheng
                        </div>
                        <div class="winniephoto">
                            <img anima-src="./images/home-page-winnie-photo@2x.png" class="winniephoto1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="line3">
                    </div>
                    <div class="nathanpark">
                        <div class="nathanpark2 w-100">
                            Nathan Park
                        </div>
                        <div class="nathanpark1">
                            <img anima-src="./images/home-page-nathan-park-1@2x.png" class="nathanpark3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="modelsnearyou1">
                        <h2>creatives near you</h2>
                    </div>
                </div>
                <a href="accountpage.html">
                    <div class="hotspot">
                    </div>
                </a>
                <a href="landingpage.html">
                    <div class="hotspot1">
                    </div>
                </a>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
