<html>
<head>
	<title>Photosign</title>
    <meta charset="utf-8">
	<link href="/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/landing.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.bundle.js"></script>
<<<<<<< HEAD
    <script type="text/javascript" src="https://s3.amazonaws.com/cdn.hellosign.com/public/js/hellosign-embedded.LATEST.min.js"></script>
    <script src="/js/openDocument.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBbmbCwebplSFnOVLCOMAovBs4fISwLiGQ",
        authDomain: "photosign-fdb51.firebaseapp.com",
        databaseURL: "https://photosign-fdb51.firebaseio.com",
        projectId: "photosign-fdb51",
        storageBucket: "photosign-fdb51.appspot.com",
        messagingSenderId: "402057377855"
    };
    firebase.initializeApp(config);
    </script>
=======
    <script src="/js/landing.js"></script>
>>>>>>> 01af3a81941f9331fa06867b10ab51dbf42e7ebd
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="nav-item-logo">
                <a href="/"><img src="images/logo.png" alt="logo" id="home-logo"></a>
            </li>
            <li class="nav-item">
                <a href="/"><h5>photosign</h5></a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- Hero -->
    <div class="container-fluid text-center h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="grid">
            <div class="row">
                <div class="col col-lg-12">
                    <img src="images/logo.svg" alt="logo" id="logo">
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <h2 id="welcome-message">welcome to photosign</h2>
                </div>
            </div>
<<<<<<< HEAD
            <div class="row">
                <div class="col col-lg-12">f
                    <button type="button" class="btn btn-dark btn-lg" id="sign-up">Sign up!</button>
=======
            <div class="row" id="chevron">
                <div class="col col-lg-12">
                    <button type="button" class="btn btn-custom-chevron"><i class="fa fa-chevron-down fa-5x"></i></button>
>>>>>>> 01af3a81941f9331fa06867b10ab51dbf42e7ebd
                </div>
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="container-fluid h-100 w-100 d-flex justify-content-center align-items-center" id="about">
        <div class="row">
            <div class="col col-md-2"></div>
            <div class="col col-md-8">
                <h2>what's photosign?</h2>
                <br />
                <h2 id="about-description">
                    photosign is a modern solution for photographers looking to network
                    and keep track of their portfolios.
                </h2>
            </div>
            <div class="col col-md-2"></div>
        </div>
    </div>
</body>

</html>
