<html>
<head>
	<title>Photosign</title>
    <meta charset="utf-8">
	<link href="/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/landing.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/cdn.hellosign.com/public/js/hellosign-embedded.LATEST.min.js"></script>
    <script src="/js/releaseForm.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg">
        <img src="images/logo.png" alt="logo" id="home-logo">
        <h5>photosign</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- Hero -->
    <div class="container-fluid text-center h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="grid">
            <div class="row">
                <div class="col col-lg-12">
                    <img src="images/logo.svg" alt="logo" id="logo">
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <h2 id="welcome-message">welcome to photosign</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <button type="button" class="btn btn-dark btn-lg" id="sign-up">Sign up!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="container-fluid h-100 w-100" id="about">
        <h2 class="text-center">Who are we?</h2>
    </div>
</body>

</html>
