<html>
<head>
	<title>Sign Up</title>
    <meta charset="utf-8">
	<link href="/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/signup.js"></script>
    <!-- script src="/js/signup.js"></script> -->
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="nav-item-logo">
                <a href="/"><img src="images/logo.png" alt="logo" id="home-logo"></a>
            </li>
            <li class="nav-item">
                <a href="/"><h5>photosign</h5></a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Signup -->
    <div class="container-fluid h-100 w-100 d-flex justify-content-center align-items-center" id="about">
        <div class="grid w-100">
            <div class="row">
                <div class="col col-lg-12 text-center">
                    <h2 class="custom-h2-signup">Sign Up</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-4"></div>
                <div class="col col-lg-4 text-center">
                    <form>
                        <div class="form-group text-center pad-custom">
                            <input type="text" class="form-control email-custom" id="form-name" placeholder="Full name">
                        </div>
                    </form>
                </div>
                <div class="col col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col col-lg-4"></div>
                <div class="col col-lg-4 text-center">
                    <form>
                        <div class="form-group text-center pad-custom">
                            <input type="email" class="form-control email-custom" id="form-email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </form>
                </div>
                <div class="col col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col col-lg-4"></div>
                <div class="col col-lg-4 text-center">
                    <form>
                        <div class="form-group text-center pad-custom">
                            <input type="password" class="form-control email-custom" id="form-pass" placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="col col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col col-lg-4"></div>
                <div class="col col-lg-4 text-center">
                    <a href="/home"><button type="button" class="btn btn-custom-large" id="create-account">Create Account</button></a>
                </div>
                <div class="col col-lg-4"></div>
            </div>
        </div>
    </div>
</body>

</html>