@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('../fonts/SFProDisplay-Regular.ttf');
}

@font-face {
    font-family: 'SFProDisplay-Light';
    src: url('../fonts/SFProDisplay-Light.ttf');
}

/* IDs */
#home-logo {
    max-width: 5%;
    max-height: 5%;
}

/* Tags */
nav {
    font-family: 'SFProDisplay-Regular';
    font-size: 20px;
    background-color: white;
}

h5 {
    font-family: 'SFProDisplay-Light';
    font-size: 30px;
    padding-left: 15px;
}

body {
    padding-top: 90px;
    background-color: #ffedf9;
}