@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('../fonts/SFProDisplay-Regular.ttf');
}

@font-face {
    font-family: 'SFProDisplay-Light';
    src: url('../fonts/SFProDisplay-Light.ttf');
}

#home-logo {
    width: 75%;
    height: auto;
}

#nav-item-logo {
    max-width: 25%;
}

nav {
    font-family: 'SFProDisplay-Regular';
    font-size: 20px;
    background-color: white;
}

h5 {
    font-family: 'SFProDisplay-Light';
    font-size: 30px;
    padding-left: 0px;
}

body {
    padding-top: 65px;
    background-color: #ffedf9;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
     color: #7c8483; 
     text-decoration: none; 
     cursor: pointer;
}